body {
    color: black;
    font-size: 16px;
	font-family: Open Sans;
	font-weight: 300;
	line-height: 25px;
    margin: 0px auto 0px auto;
    width: 800px;
    text-decoration: none;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
	text-decoration: none;
}

div#logo h1 {
	color: rgb(8, 193, 195);
	font-size: 36px;
}

div#logo h2 {
	color: rgb(165, 165, 165);
	font-size: 14px;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

p {
    text-align: justify;
}

blockquote { 
	border-left: 10px;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-style: italic;
	font-size: 14px;
	color: rgb(87, 77, 77);
	line-height: 28px;
}

blockquote:before {
	color: rgb(128, 127, 127);
	display: block;
	float: left;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	left: -40px;
	line-height: 48px;
	content: open-quote;
	margin-right: 0.25em;
}

.figure {
    border: 1px solid #888;
	padding: 6px;
}

.figure p {
	text-align: center;
}

.figure img {
	width: 100%;
	display: block;
}
